<h1>Signup example</h1>

<form class="signup-example-form" {{action "signup" on="submit"}}>
  <p>
    Email:
    <input type="text" class="signup-example-form__email" onchange={{action (mut email) value="target.value"}}>
  </p>
  <p>
    Password:
    <input type="password" class="signup-example-form__password" onchange={{action (mut password) value="target.value"}}>
  </p>
  <p>
    Password Confirmation:
    <input type="password" class="signup-example-form__password-confirmation" onchange={{action (mut passwordConfirmation) value="target.value"}}>
  </p>

  <button type="submit" class="signup-example-form__submit-btn" disabled={{isSaving}}>
    {{if isSaving 'Loading, please wait...' 'Sign up'}}
  </button>
</form>